app/flows/sysmon.json
[
    {
        "id": "6c89c4e9.f50ccc",
        "type": "tab",
        "label": "System Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ebb5911a.cc5a4",
        "type": "inject",
        "z": "6c89c4e9.f50ccc",
        "name": "Read memory every 1 minute",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 183.5,
        "y": 73,
        "wires": [
            [
                "f3b27975.3bd8f8"
            ]
        ]
    },
    {
        "id": "f3b27975.3bd8f8",
        "type": "Memory",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "x": 408.5,
        "y": 72,
        "wires": [
            [
                "673c5134.d0d35"
            ]
        ]
    },
    {
        "id": "e2911e44.15b3c",
        "type": "ui_chart",
        "z": "6c89c4e9.f50ccc",
        "name": "Mem Usage",
        "group": "ba766c87.0944",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Memory Usage",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 863.5,
        "y": 49,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "673c5134.d0d35",
        "type": "change",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.memusage",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 627.5,
        "y": 72,
        "wires": [
            [
                "fdd9256.04871d8",
                "e2911e44.15b3c"
            ]
        ]
    },
    {
        "id": "fdd9256.04871d8",
        "type": "debug",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 865,
        "y": 88,
        "wires": []
    },
    {
        "id": "90623a28.89b218",
        "type": "OS",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "x": 400.5,
        "y": 177,
        "wires": [
            [
                "1eb2d989.11ad06"
            ]
        ]
    },
    {
        "id": "225e1033.4ca0f",
        "type": "Drives",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "x": 271.5,
        "y": 430,
        "wires": [
            [
                "55446c5d.6bc994",
                "7c1a627d.c95d5c",
                "b1dca527.f15d58"
            ]
        ]
    },
    {
        "id": "1d9a5ee2.8d3ce1",
        "type": "Uptime",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "x": 372.5,
        "y": 275,
        "wires": [
            [
                "4363e3c4.f2ff0c"
            ]
        ]
    },
    {
        "id": "7c50f6f6.f414b8",
        "type": "CPUs",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "x": 270.5,
        "y": 519,
        "wires": [
            [
                "53ba4ae9.cee144"
            ]
        ]
    },
    {
        "id": "59a873f3.e87ffc",
        "type": "Loadavg",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "x": 391.5,
        "y": 793,
        "wires": [
            [
                "b1f86096.2a9dc",
                "8c90ae29.85225",
                "6552dff8.02c3e"
            ]
        ]
    },
    {
        "id": "2f07c0a6.178eb",
        "type": "NetworkIntf",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "x": 369.5,
        "y": 631,
        "wires": [
            [
                "8527d61a.057a08"
            ]
        ]
    },
    {
        "id": "6e5af5d9.47868c",
        "type": "debug",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 828.5,
        "y": 197,
        "wires": []
    },
    {
        "id": "a4fd9533.55ac48",
        "type": "inject",
        "z": "6c89c4e9.f50ccc",
        "name": "Read at Start",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 125,
        "y": 178,
        "wires": [
            [
                "90623a28.89b218"
            ]
        ]
    },
    {
        "id": "997a9950.185f18",
        "type": "inject",
        "z": "6c89c4e9.f50ccc",
        "name": "Read at start",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 117,
        "y": 430,
        "wires": [
            [
                "225e1033.4ca0f"
            ]
        ]
    },
    {
        "id": "263cf0ca.8e6fa",
        "type": "debug",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 710,
        "y": 302,
        "wires": []
    },
    {
        "id": "53ba4ae9.cee144",
        "type": "debug",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 416,
        "y": 519,
        "wires": []
    },
    {
        "id": "7cfa6f9b.3dce8",
        "type": "debug",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 797,
        "y": 867,
        "wires": []
    },
    {
        "id": "d09b645b.76a1b8",
        "type": "debug",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 728,
        "y": 673,
        "wires": []
    },
    {
        "id": "b478b41f.ade848",
        "type": "inject",
        "z": "6c89c4e9.f50ccc",
        "name": "Read every 1 hour",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 275,
        "wires": [
            [
                "1d9a5ee2.8d3ce1"
            ]
        ]
    },
    {
        "id": "1b3de379.540f3d",
        "type": "inject",
        "z": "6c89c4e9.f50ccc",
        "name": "Read at start",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 121,
        "y": 519,
        "wires": [
            [
                "7c50f6f6.f414b8"
            ]
        ]
    },
    {
        "id": "85a81fbd.70c95",
        "type": "inject",
        "z": "6c89c4e9.f50ccc",
        "name": "Read every 15 minutes",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 167,
        "y": 795,
        "wires": [
            [
                "59a873f3.e87ffc"
            ]
        ]
    },
    {
        "id": "3c5e6835.eabef8",
        "type": "inject",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 109.5,
        "y": 632,
        "wires": [
            [
                "2f07c0a6.178eb"
            ]
        ]
    },
    {
        "id": "8527d61a.057a08",
        "type": "change",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.networkInterfaces.eno1[0].address",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 564,
        "y": 631,
        "wires": [
            [
                "d09b645b.76a1b8",
                "4dacbbd6.029e94"
            ]
        ]
    },
    {
        "id": "4dacbbd6.029e94",
        "type": "ui_text",
        "z": "6c89c4e9.f50ccc",
        "group": "ba766c87.0944",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "IP Address",
        "label": "Local IP address",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 764.5,
        "y": 626,
        "wires": []
    },
    {
        "id": "273b8e71.fa7dc2",
        "type": "ui_gauge",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "group": "cce5e705.92d828",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "5 Minute",
        "label": "units",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 784.5,
        "y": 784,
        "wires": []
    },
    {
        "id": "9fdbb148.4561d",
        "type": "ui_gauge",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "group": "cce5e705.92d828",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "15 Minute",
        "label": "units",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 785,
        "y": 820,
        "wires": []
    },
    {
        "id": "afbc383f.bd95c8",
        "type": "ui_gauge",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "group": "cce5e705.92d828",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "1 Minute",
        "label": "units",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 787,
        "y": 748,
        "wires": []
    },
    {
        "id": "b1f86096.2a9dc",
        "type": "change",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.loadavg[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 581,
        "y": 772,
        "wires": [
            [
                "7cfa6f9b.3dce8",
                "afbc383f.bd95c8"
            ]
        ]
    },
    {
        "id": "8c90ae29.85225",
        "type": "change",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.loadavg[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 581,
        "y": 808,
        "wires": [
            [
                "273b8e71.fa7dc2",
                "7cfa6f9b.3dce8"
            ]
        ]
    },
    {
        "id": "6552dff8.02c3e",
        "type": "change",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.loadavg[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 579,
        "y": 844,
        "wires": [
            [
                "9fdbb148.4561d",
                "7cfa6f9b.3dce8"
            ]
        ]
    },
    {
        "id": "d8459133.541c1",
        "type": "ui_text",
        "z": "6c89c4e9.f50ccc",
        "group": "ba766c87.0944",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 829,
        "y": 160,
        "wires": []
    },
    {
        "id": "1eb2d989.11ad06",
        "type": "change",
        "z": "6c89c4e9.f50ccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hostname",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 565,
        "y": 177,
        "wires": [
            [
                "6e5af5d9.47868c",
                "d8459133.541c1"
            ]
        ]
    },
    {
        "id": "a1140598.87ca48",
        "type": "ui_text",
        "z": "6c89c4e9.f50ccc",
        "group": "ba766c87.0944",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Uptime",
        "label": "Uptime (hours)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 702,
        "y": 262,
        "wires": []
    },
    {
        "id": "4363e3c4.f2ff0c",
        "type": "function",
        "z": "6c89c4e9.f50ccc",
        "name": "Uptime ",
        "func": "var hours = Math.floor(msg.payload.uptime / (60 * 60));\n\nvar newMsg = { payload: hours };\n\nreturn newMsg;",
        "outputs": "1",
        "noerr": 0,
        "x": 540.5,
        "y": 276,
        "wires": [
            [
                "a1140598.87ca48",
                "263cf0ca.8e6fa"
            ]
        ]
    },
    {
        "id": "e0ec5333.18e48",
        "type": "ui_gauge",
        "z": "6c89c4e9.f50ccc",
        "name": "/lib/module",
        "group": "38131c1d.a3b5d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 643,
        "y": 382,
        "wires": []
    },
    {
        "id": "55446c5d.6bc994",
        "type": "function",
        "z": "6c89c4e9.f50ccc",
        "name": "Drive monitor",
        "func": "var payMsg = { payload: msg.payload[3].capacity };\nvar newMsg = { topic: msg.payload[3].mount };\n\nreturn [payMsg, newMsg];",
        "outputs": "2",
        "noerr": 0,
        "x": 453,
        "y": 384,
        "wires": [
            [
                "e0ec5333.18e48"
            ],
            [
                "e0ec5333.18e48"
            ]
        ]
    },
    {
        "id": "7c1a627d.c95d5c",
        "type": "function",
        "z": "6c89c4e9.f50ccc",
        "name": "Drive monitor",
        "func": "var payMsg = { payload: msg.payload[4].capacity };\nvar newMsg = { topic: msg.payload[4].mount };\n\nreturn [payMsg, newMsg];",
        "outputs": "2",
        "noerr": 0,
        "x": 451,
        "y": 421,
        "wires": [
            [
                "69f2e3e3.0c279c"
            ],
            [
                "69f2e3e3.0c279c"
            ]
        ]
    },
    {
        "id": "69f2e3e3.0c279c",
        "type": "ui_gauge",
        "z": "6c89c4e9.f50ccc",
        "name": "/dev/shm",
        "group": "38131c1d.a3b5d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 633,
        "y": 421,
        "wires": []
    },
    {
        "id": "b1dca527.f15d58",
        "type": "function",
        "z": "6c89c4e9.f50ccc",
        "name": "Drive monitor",
        "func": "var payMsg = { payload: msg.payload[1].capacity };\nvar newMsg = { topic: msg.payload[1].mount };\n\nreturn [payMsg, newMsg];",
        "outputs": "2",
        "noerr": 0,
        "x": 452,
        "y": 461,
        "wires": [
            [
                "cf1c0c2d.079cb"
            ],
            [
                "cf1c0c2d.079cb"
            ]
        ]
    },
    {
        "id": "cf1c0c2d.079cb",
        "type": "ui_gauge",
        "z": "6c89c4e9.f50ccc",
        "name": "/dev/sda6",
        "group": "38131c1d.a3b5d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 633,
        "y": 459,
        "wires": []
    },
    {
        "id": "ba766c87.0944",
        "type": "ui_group",
        "z": "",
        "name": "Memory",
        "tab": "35da1414.4f840c",
        "order": 1,
        "disp": true,
        "width": "10"
    },
    {
        "id": "cce5e705.92d828",
        "type": "ui_group",
        "z": "",
        "name": "CPU Load Average",
        "tab": "35da1414.4f840c",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "38131c1d.a3b5d4",
        "type": "ui_group",
        "z": "",
        "name": "Storage",
        "tab": "35da1414.4f840c",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "35da1414.4f840c",
        "type": "ui_tab",
        "z": "",
        "name": "System Monitor",
        "icon": "dashboard",
        "order": 3
    }
]
